
nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: .5em 1em;
    padding-right: 20px;
    font-size: 18px;
}

body {
    background-color: black;
    color: white;
    font-family: 400 normal 12px / 22px 'Clarkson','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}
#main-image {
    display: block;
    width: 100%;
    height: auto;

}

#header-flex {
    display: flex;
    flex-direction: row;
}

.title a {
    font-size: 30px;
    font-weight: lighter;
    font-family: ivymode;
    letter-spacing: .5vw;
    color: #fff;
    vertical-align: middle;
    padding-left: 10px;
    text-shadow: 0 0 10px #e761f5, 0 0 20px #e761f5, 0 0 30px #e761f5, 0 0 40px #e761f5, 0 0 50px #e761f5, 0 0 60px #e761f5, 0 0 70px #e761f5;
    text-decoration: none;
    display: block;
    margin-top: 16px;
    margin-left: 10px;
}

.header {
    margin-top: 20px;
    margin-bottom: 10px;
}

.logo {
    margin-left: 10px
}

footer {
    text-align: center; /* Center the content within the footer */
  }

  footer a {
    display: inline-block; /* Make the anchor elements block-level */
    margin: 0 15px; /* Adjust the margin to create space between the images */
  }

  /* Optional: Add some padding to the footer for additional spacing */
  footer {
    padding: 20px;
  }


.members-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.members-1,
.members-2 {
    display: flex;
    flex-direction: row;
}

.member-flex {
    margin: 20px;
    text-align: center; /* Center the content within each member-flex item */
}

.names-font {
    font-weight: bold;
    text-shadow: 0 0 10px #e761f5, 0 0 20px #e761f5, 0 0 30px #e761f5, 0 0 40px #e761f5, 0 0 50px #e761f5, 0 0 60px #e761f5, 0 0 70px #e761f5;
}

h2 {
    text-align: center;
    font-size: 30px;
}

.wide-text {
    padding-left: 220px;
    padding-right: 220px;
    font-size: 18px;
    text-align: justify;
}
