
nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: .5em 1em;
    padding-right: 20px;
    font-size: 18px;
}

body {
    background-color: black;
    color: white;
    font-family: 400 normal 12px / 22px 'Clarkson','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}
.mySlides img {
    display: block;
    height: auto;
    max-width: 100%;

}

#header-flex {
    display: flex;
    flex-direction: row;
}

.title a {
    font-size: 30px;
    font-weight: lighter;
    font-family: ivymode;
    letter-spacing: .5vw;
    color: #fff;
    vertical-align: middle;
    padding-left: 10px;
    text-shadow: 0 0 10px #e761f5, 0 0 20px #e761f5, 0 0 30px #e761f5, 0 0 40px #e761f5, 0 0 50px #e761f5, 0 0 60px #e761f5, 0 0 70px #e761f5;
    text-decoration: none;
    display: block;
    margin-top: 16px;
    margin-left: 10px;
}

.header {
    margin-top: 20px;
    margin-bottom: 10px;
}

.logo {
    margin-left: 10px;
}

.logo img {
  height: 80px;
}

footer {
    text-align: center; /* Center the content within the footer */
  }

  footer a {
    display: inline-block; /* Make the anchor elements block-level */
    margin: 0 15px; /* Adjust the margin to create space between the images */
  }

  /* Optional: Add some padding to the footer for additional spacing */
  footer {
    padding: 20px;
  }


.members-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.members-1,
.members-2 {
    display: flex;
    flex-direction: row;
}

.member-flex {
    margin: 20px;
    text-align: center; /* Center the content within each member-flex item */
}

.names-font {
    font-weight: bold;
    text-shadow: 0 0 10px #e761f5, 0 0 20px #e761f5, 0 0 30px #e761f5, 0 0 40px #e761f5, 0 0 50px #e761f5, 0 0 60px #e761f5, 0 0 70px #e761f5;
}

h2 {
    text-align: center;
    font-size: 30px;
}

.wide-text {
    padding-left: 220px;
    padding-right: 220px;
    font-size: 18px;
    text-align: justify;
}

h2 {
    display: block;
    margin-top: 50px;
}

.wide-text {
    margin-bottom: 50px;
}

.home-pictures {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.home-pictures img {
    margin: 10px; /* Optional: Add margin around each image for spacing */
  }

  .slideshow-container {
    position: relative;
    margin: auto;
  }

  .mySlides {
    display: none;
    animation: fadeAnimation 10s ease-in-out forwards; /* Adjust the transition duration as needed */
  }

  @keyframes fadeAnimation {
    0% {
      opacity: 0;
    }

    20% {
      opacity: 1;
    }

    80% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }


  .audio-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .audio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .audio-player {
    width: 100%;
    margin-top: 20px;
  }

  #songTitle {
    font-weight: bold;
  }

  .playlist {
    width: 45%;
    max-width: 400px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    color: #333;
    text-align: left;
  }

  .playlist h3 {
    margin-bottom: 10px;
  }

  .playlist li {
    cursor: pointer;
    list-style-type: none;
    margin-bottom: 5px;
    position: relative;
    padding: 2px;
  }


  .play-button {
    color: #ffffff; /* Set the text color to the desired color */
    border: none;
    margin-right: 0px;
    cursor: pointer;
    position: absolute;
    padding-top: 0px;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .play-button::before {
    content: '\25B6'; /* Unicode character for a right-pointing triangle */
    font-size: 16px; /* Adjust the font size as needed */
  }

  .song-title {
    margin-left: 50px; /* Space for the play button */
    display: block;
  }

  .playlist li:hover {
    background-color: #e0e0e0;
  }

  .playlist li:hover .play-button {
    background-color: #e0e0e0;
  }

  .playlist li:hover .song-title {
    text-decoration: none;
  }

  .audio-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  #prevButton,
  #playPauseButton,
  #nextButton {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }

  #prevButton:hover,
  #playPauseButton:hover,
  #nextButton:hover {
    background-color: #ddd;
  }

  #currentTime {
    margin-left: 10px;
  }

